.frame3container{
    height: 1261px;
width: 1440px;


border-radius: 0px;
position: absolute;


}
.fr3cont{
    height: 1261px;
width: 1440px;

top: 1425px;
border-radius: 0px;
position: absolute;
}

.competition{
    height: 53px;
width: 529px;
left: 456px;
top: 112px;
position: absolute;
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 53px;
letter-spacing: -0.06em;
text-align: left;
color: #301446;


}
.frame19724junior{
    height: 346px;
width: 282px;
left: 120px;
top: 17.5%;
border-radius: 8px;
position: absolute;
border: 2px solid rgba(48, 20, 70, 0.05)
}
.frame19769{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
width: 132px;
height: 60px;
left: 78px;
top: 96px;

}
.subjects1{
    height: 60px;
width: 132px;
left: 78px;
top: 96px;
position: absolute;

}
.maths{
    font-family: Mulish;
    font-style: normal;
font-size: 16px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.01em;
text-align: left;
color: #301446B2;
    width: 96px;
height: 18px;
    gap: 24px;
    
}
.lang{
    width: 132px;
height: 18px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 110%;
/* identical to box height, or 18px */

display: flex;
align-items: center;
letter-spacing: -0.01em;

color: rgba(48, 20, 70, 0.7);
}

.title{
    height: 72px;
width: 282px;
top: 219px;
border-radius: 8px 8px 0px 0px;
left: 120px;
background: #7B7FDA;

}

.basicscience{
    height: 18px;
width: 100px;
left: 94px;
top: 180px;
border-radius: nullpx;
position: absolute;
    font-family: Mulish;
font-size: 16px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.01em;
text-align: left;
color:rgba(48, 20, 70, 0.7);


}
.titlename{
    height: 26px;
width: fit-content;
left: 35%;
top: 23px;
border-radius: nullpx;
position: absolute;
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.06em;
text-align: left;
color: #FFFFFF;



}
.grp36543{
    position: absolute;
width: 315px;
height: 129px;
left: 25px;
top: 122px;
}
.grp36544{
    position: absolute;
width: 317px;
height: 134px;
left: 25px;
top: 299px;


}
.grp36543title{
    font-size: 24px;
    letter-spacing: -0.06em;
    font-weight: 600;
    font-family: Montserrat;

}
.grp36543para{
    margin-top: 0.7rem;
    font-size: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
    opacity: 0.7;
    color: #301446;
}
.senior{
    
    position: absolute;
width: 894px;
height: 346px;
left: 426px;
top: 219px;

background-repeat: no-repeat;
border: 2px solid rgba(48, 20, 70, 0.05);
border-radius: 8px;
background-color: #FFFFFF;
}

.eligibility{
    position: absolute;
width: 383px;
height: 480px;
left: 120px;
top: 48%;

background: #F2F2FB;
width: 383px;
    
    max-height: 520px;
    -webkit-padding-start: 25px;
    padding-inline-start: 25px;
    -webkit-padding-end: 25px;
    padding-inline-end: 25px;
    
}
.eligtitle{
    font-size: 4.8rem;
    font-size: 3.2rem;
    letter-spacing: -0.06em;
    font-weight: 600;
    font-family: Montserrat;
}
.formheader{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;
position: absolute;
width: 732px;
height: 311px;
padding-top: 42px;
    
    left: 507px;
top: 46%;



}
.heading{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 11px;
position: absolute;
width: 732px;
height: 64px;
}
.formtext1{
    width: fit-content;
height: 35px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 110%;
/* or 35px */
position: absolute;
display: flex;
align-items: center;
letter-spacing: -0.06em;

color: #301446;
}

.instructions{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;
position: absolute;
width: fit-content;
height: 204px;
top: 112px;


}
.ul li{
    list-style-image: url(../../public/bx_checkblack.svg);
    

}
.juniorboxes{
    box-sizing: border-box;

position: absolute;
width: 894px;
height: 346px;
left: 426px;
top: 219px;

background: #FFFFFF;

}
.ul{
    font-family: 'Mulish';
font-style: normal;
font-weight: 600;

font-size: 16px;
line-height: 110%;
/* identical to box height, or 18px */
align-items: center;
letter-spacing: -0.01em;

color: #301446;

opacity: 0.7;

    list-style-type:none;
}


@media screen and (max-width:426px){
    .senior{
        display: none;
    }
    .fr3cont{
        height: 3002px;
width: 90%;

top: 1671px;
position: absolute;
    }
    .eligibility{
        left: 0px;
top: 46%;
    }
    .juniorboxes{
        height: 1260px;
        width: 90%;
        left: 5%;
        top: 600px;
    }
.frame3container{
    height: 2902px;
width: 100%;
// background-image: url(../../public/Frame19774.svg) ;
// background-size: contain;
// background-repeat:no-repeat;

}
.competition{
    position: absolute;
width: fit-content;
height: 70px;
left: 2%;
margin-top: 5.4rem;
font-size: 32px;
line-height: 35.2px;
text-align: center;
align-items: center;
top: 0%;

}
.eligtitle{
    font-size: 39px;
}
.frame19724junior{
    width: 90%;
    left: 5%;
    top: 8%;

}
.title,.subjects1{
    width: 100%;
    left: 0%;
}
.frame19769{
    position: absolute;
    left: 30%;
    top: 1%;
}
.maths{
    text-align: center;
    
}
.basicscience{
    left: 34%;
    top: 53%;
}
.eligibility{
    width: 100%;
    top: 68%;
}
.grp36543{
    width: 90%;
    height: 163px;
    
}
.grp36544{
    width: 90%;
    height: 163px;
    
}
.heading{
    width: 290px;
    height: 70px;
    
}
.formtext1{
height: 70px;
width: 98%;
left: 10px;
top: 0px;
font-size: 24px;

}

.instructions{
height: 261px;
width: 100%;
left: 0px;

border-radius: 0px;

}
.formheader{
height: 483px;
width: 100%;
left: 0px;
top: 84%;
border-radius: 0px;

}

}

@media screen and (min-width: 426px) and (max-width:5000px) {
    .juniorboxes{
        display: none;
    }
}