.frame3container{
    height: 1261px;
width: 1440px;
left: 0px;
top: 1425px;
border-radius: 0px;
position: absolute;

}

.competition{
    height: 53px;
width: 529px;
left: 456px;
top: 112px;
position: absolute;
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 53px;
letter-spacing: -0.06em;
text-align: left;
color: #301446;


}
.frame19724junior{
    height: 346px;
width: 282px;
left: 120px;
top: 219px;
border-radius: 8px;
position: absolute;
border: 2px solid rgba(48, 20, 70, 0.05)
}
.frame19769{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
width: 132px;
height: 60px;
left: 78px;
top: 96px;

}
.subjects{
    height: 60px;
width: 132px;
left: 78px;
top: 96px;
position: absolute;

}
.maths{
    font-family: Mulish;
    font-style: normal;
font-size: 16px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.01em;
text-align: left;
color: #301446B2;
    width: 96px;
height: 18px;
    gap: 24px;
    
}
.lang{
    width: 132px;
height: 18px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 110%;
/* identical to box height, or 18px */

display: flex;
align-items: center;
letter-spacing: -0.01em;

color: rgba(48, 20, 70, 0.7);
}

.title{
    height: 72px;
width: 282px;
top: 219px;
border-radius: 8px;
left: 120px;
background: #7B7FDA;

}

.basicscience{
    height: 18px;
width: 100px;
left: 94px;
top: 180px;
border-radius: nullpx;
position: absolute;
    font-family: Mulish;
font-size: 16px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.01em;
text-align: left;
color:rgba(48, 20, 70, 0.7);


}
.titlename{
    height: 26px;
width: 100%;
left: 106px;
top: 23px;
border-radius: nullpx;
position: absolute;
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.06em;
text-align: left;
color: #FFFFFF;



}

.senior{
    background-image: url(../../public/senior.svg);
    position: absolute;
width: 894px;
height: 346px;
left: 426px;
top: 219px;

background-repeat: no-repeat;
border: 2px solid rgba(48, 20, 70, 0.05);
border-radius: 8px;
background-color: #FFFFFF;
}

.eligibility{
    background-image: url('../../public/Frame19652.svg');
    height: 508px;
width: 1200px;
left: 123px;
top: 641px;
border-radius: 8px;
position: absolute;
}
@media screen and (max-width:426px){
.frame3container{
    height: 2702px;
width: 100%;
left: 0px;
top: 1643px;
border-radius: 0px;
background-image: url(../../public/Frame19774.svg) ;
background-size: contain;
background-repeat:no-repeat;

}
.competition{
    position: absolute;
width: 194px;
height: 70px;
left: 83px;
top: 64px;
font-size: 32px;
line-height: 35.2px;
text-align: center;
align-items: center;

}
.eligibility, .basicscience,.frame19724junior,.frame19769,.lang,.maths,.senior,.subjects,.title,.titlename{
    display: none;
}

}