.detailscontainer{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

width: 996px;
height: 327px;

position: absolute;
left: 1px;
}
.detailstitle{
    width: 996px;
height: 26px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 110%;
/* or 26px */

display: flex;
align-items: center;
letter-spacing: -0.06em;

color: #301446;

}
.schoolform{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 996px;
height: 253px;
top:74px;
}
.username{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    width: 996px;
    height: 63px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.form__inputbc{
    box-sizing: border-box;
  
    width: 316px;
    height: 40px;
  
    background:  #F9FAFF;;
    border: 1px solid #e0e7ff;
    border-radius: 4px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    color: rgba(48, 20, 70, 0.7);
    padding-left: 10px;
    background-image: url(../../public/flag.svg);
      background-repeat: no-repeat;
      background-position-x: 5px;
      background-position-y: 12px;
      padding-left: 30px;
  }
@media screen and (max-width:426px){
    .detailstitle{
        height: 26px;
width: 157px;
left: 0px;
top: 0px;


    }

.detailscontainer{
    height: 578px;
width:100%;
left: auto;

//top: 626px;
border-radius: 0px;

}
.schoolform{
    height: 504px;
width: 100%;
left: 0px;
top: 74px;
border-radius: 0px;
padding-right: 20px;

}
.form__inputbc {
    height: 40px;
    width: 100%;
    left: 0px;
    top: 23px;
    border-radius: 4px;
  }

}