.stagecontainer{
    height: 252px;
width: 996px;
background: white;
border-radius: 8px;
position: absolute;

}
.frame19715{
    height: 84px;
width: 893px;
left: 32px;
top: 110px;
border-radius: 0px;
position: absolute;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

}
.frame19713{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
height: 40px;
width: 893px;

gap: 16px;
position: absolute;

}
.ellipse1{
    height: 8px;
width: 8px;
left: 0px;
top: 16px;
border-radius: 0px;
background: #EA7052;
position: absolute;
}
.text1{
    width: 869px;
height: 40px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 110%;
/* or 20px */

display: flex;
align-items: center;
letter-spacing: -0.01em;
left: 24px;
color: #301446;

opacity: 0.7;
position: absolute;

}
.frame19714{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;
top: 64px;
width: 719px;
height: 20px;
position: absolute;


}
.ellipse2{
    height: 8px;
    width: 8px;
    left: 0px;
    top: 6px;
    border-radius: 0px;
    background: #EA7052;
    position: absolute;
    
}
.text2{
    width: 695px;
    height: 20px;
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    /* identical to box height, or 20px */
    left: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    
    color: #301446;
    
    opacity: 0.7;
    position: absolute;
}
.frame36524{
    position: absolute;
width: 929px;
height: 35px;
left: 36px;
top: 35px;


}
.date{
    justify-content: center;
    display: flex;
flex-direction:row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 340px;
height: 24px;
left: 590px;
top: 5px;

}
.day{
    width: 308px;
height: 20px;
top: 2px;
left: 32px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 110%;
/* identical to box height, or 20px */

display: flex;
align-items: center;
letter-spacing: 0.4px;

color: #301446;
position: absolute;

}

.stage{
    position: absolute;
height: 35px;
left: 0px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 110%;
/* or 35px */

display: flex;
align-items: center;
letter-spacing: -0.06em;

}

@media screen and (max-width:426px){

    .stagecontainer{
        width: 95%;
        height: 323px;
        padding: 24px;
        
    }
    .stage{
        font-size: 24px;
    }
    .frame19715{
        width: 95%;
        left: auto;
        height: 164px;
        top: 90px;
        margin-top: 30px;
    }
    .frame19713 {
        width: 95%;
        height: 120px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    .ellipse1 , .ellipse2{
        top: auto;
    }
    .frame19714{
        height: 40px;
        width: 90%;
        top: 80%;
        margin-top: 14px;
    }
    .text1{
        top: 0px;
        width: 89%;
        height: 120px;
        left: 16px;
    }
    .text2{
        width: 100%;
        
    }
    .frame36524{
        top: auto;
        width: 90%;
        left: auto;
        
    height: 73px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    }
    
    .date{
        
padding: 0px;
gap: 8px;

position: absolute;
width: 95%;
height: 36px;
left: 0px;
top: 41px;

    }
    
    .day{
width: fit-content;
height: 36px;
top: 0px;
font-size: 16px;
    }
}