.button{
    width: 210px;
    background-color: #EA7052;
    padding:17px 25px 17px 25px;
    border-radius: 10px;
    position: absolute;
    height: 56px;
    
}
.buttontext{
    text-decoration: none;
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 100%;
letter-spacing: 0.4px;
color: #FFFFFF;
white-space: nowrap;
}
@media screen and (max-width:426px){
    .button{
        height: 36px;
        width: 136px;
        padding: 11px 16.46px 11.26px 15.5px;
        text-align: center;
        display: flex;
        
        border-radius: 6.476190567016602px;
        

    }
    .buttontext{
        
font-size: 12.9524px;
line-height: 110%;

    }
}