.frame5container{
    position: absolute;
width: 1440px;
height: 508px;

top: 3745px;
right: calc(50% - 720px);

}

@media screen and (max-width:426px){
    .frame5container{
        height: 557px;
width: 100%;
top: 5500px;
border-radius: 0px;
position: absolute;
right: 0px;

    }

}