.congocontainer{
    position: absolute;
width: 1440px;
height: 1079px;
left:calc(50% - 750px);
align-items: center;
justify-content: center;
right: calc(50% - 600px);;
background: #FFFFFF;
}
.congcontainer{
    

    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 1079px;
    top: 0px;


}
.congoicon{
    background-image: url(../../public/congoicon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
width: 186px;
height: 186px;
left: 45%;
top: 10%;
}
.reg{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 608px;
height: 100px;
left: 30%;
top: 25%;

}
.regtext1{
    width: 600px;
height: 62px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 110%;
/* identical to box height, or 62px */

display: flex;
align-items: center;
letter-spacing: -0.06em;

color: #301446;


}
.regtext2{
    height: 22px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 110%;
/* identical to box height, or 22px */

display: flex;
align-items: center;
letter-spacing: -0.01em;

color: #301446;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.followlink{
    position: absolute;

height: 66px;
left: 20%;
top: 38%;
//white-space: nowrap;
font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 110%;
/* or 22px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.01em;

color: #301446;

opacity: 0.7;
}

@media screen and (max-width:426px){
    .congocontainer{
        height: 1230px;
width: 100%;
left: 0px;
right: 0px;
display: flex;
padding: 10px;


    }

    .congoicon{
        height: 95.13978576660156px;
width: 95.13978576660156px;
left: auto;
top: 188.43017578125px;
border-radius: 12.276100158691406px;

    }
    .reg{
        height: 122px;
width: 100%;
left: auto;
top: 320px;
border-radius: 0px;

    }
    .regtext1{
        height: 70px;
width: 90%;
left: auto;
top: 0px;
border-radius: nullpx;
font-size: 32px;
line-height: 110%;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
    }
    .regtext2{
        height: 36px;
width:90%;

top: 86px;
border-radius: nullpx;
font-size: 16px;
align-items: center;
text-align: center;
    }
    .followlink{
        width: 90%;
height: 90px;
left: auto;
top: 482px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 110%;
/* or 18px */

display: flex;
align-items: center;
text-align: center;
    }
    .links{
    width: 100%;
    height: 1000px;
    left: 0px;
    }
}