.framecontainer{
    height: 725px;
width: 1440px;
right: calc(50% - 720px);
border-radius: 0px;
position: absolute;
background-color: rgba(242, 242, 251, 1);
;
}
.frame2container{
    height: 725px;
width: 100%;
top: 700px;

position: absolute;
background-color: rgba(242, 242, 251, 1);
;

}

.frame19723{
    height: 42px;
width: 1090px;
left: 175px;
top: 571px;
border-radius: 0px;
position: absolute;

}
.icon{
    background-image: url(../../public/awardshield1.svg);
    height: 42px;
width: 42px;

border-radius: 0px;
position: absolute;

}

.text{
    height: 20px;
width: 1032px;
left: 58px;
top: 11px;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 20px;
letter-spacing: -0.01em;
text-align: left;
position: absolute;
}

.benefits{
    height: 53px;
width: 409px;
top: 113px;
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 53px;
letter-spacing: -0.06em;
text-align: center;
align-items: center;
color: #301446;
position: absolute;
left: 35%;
}

.prizes{
    height: 186px;
width: 1213px;
left: 120px;
top: 337px;
position:absolute;
 background-image: url(../../public/Frame19773.svg);
 background-size: contain;
}
@media screen and (max-width:426px){
.frame2container{
    height: 971px;

}
    
    .framecontainer{
        height: 971px;
width: 100%;
right: 0px;
//top: 672px;
border-radius: 0px;
position: absolute;
    }

.benefits{
    height: 35px;
width: 100%;
left: 0%;
top: 64px;
line-height: 110%;
text-align: center;
/* or 35px */


//align-items: center;

font-size: 32px;

line-height: 35px;


}
.prizes{
    background-image: url(../../public/Frame19773mob.svg);
    height: 698px;
width: 80%;
background-size: contain;
background-repeat: no-repeat;
left: 15%;
right: 15%;
top: 135px;
border-radius: 0px;


}
.frame19723{
    height: 42px;
width: 90%;
left: 3%;
top: 877px;
border-radius: 0px;
background-image: url(../../public/Frame19723mob.svg);
background-size: contain;
background-repeat: no-repeat;


}
.icon,.text{
    display: none;
}
.text{
    height: 36px;
width: 264px;

top: 3px;

font-size: 16px;

line-height: 18px;
letter-spacing: -0.01em;


}
}
@media screen and (min-width: 375px) and (max-width:500px) {
    .frame19723{
    left: 10%;
    }

}