.maincontainer{
width: 100%;
background-color: #301446;
height:700px;
    position:absolute;
    background-color: #301446;
    
    top: 0px;
    
}

.topcontainer{
    right: calc(50% - 720px);
    width: 1440px;
    height:700px;
    position:absolute;
    background-color: #301446;
    
    top: 0px;
}
.topcon{
    width: 590px;
    height: 327px;
    position: absolute;
    margin-left: 10%;
    top: 30%;
    text-align: left;
}
.join{
    height: 68px;
width: 498px;
//left: 137px;

top: 0px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 56px;
font-weight: 700;
line-height: 62px;
letter-spacing: -0.06em;
text-align: left;
color: #ffffff;
display: flex;
align-items: center;
position: absolute;
justify-content: center;
}
.join2{
    height:68px;
width: 540px;
//left: 137px;
top: 68px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 56px;
font-weight: 700;
line-height: 62px;
letter-spacing: -0.06em;
text-align: left;
color: #F9AD6D;
display: flex;
align-items: center;
position: absolute;
justify-content: center;
}

.represent{
    height: 67px;
width: 522px;
left: 5%;
top: 200px;
opacity: 80%;
font-family: Mulish;
font-size: 20px;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.01em;
text-align: left;
color: #ffffff;
position: absolute;
justify-content: center;

}


.person{
    position: absolute;
width: 551px;
height: 520px;
left: 54%;
top: 15%;

}
.btn{
    position: absolute;
    height: 52px;
width: 185px;
top: 300px;
border-radius: 10px;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
left: 5%;
background: #EA7052;

}
.btn a{
    font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  
  color: #FFFFFF;
  
  
  }

@media screen and (max-width:426px){
.maincontainer{
    height: 642px;
}
    .topcontainer{
        height: 642px;
width: 100%;
right: 0px;
padding-left: 16px;
padding-right: 16px;
display: flex;
align-items: center;
justify-content: center;

    }
    .topcon{
        width: 100%;
        height: 331px;
        position: absolute;
        top: 10%;
        margin-left: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        
    }
    
    .join{
        width: auto;
height: auto;

font-size: 36px;
line-height: 110%;
/* or 40px */

display: flex;
align-items: center;
text-align: center;
    }
    .join2{
        width: auto;
height: auto;
top: 40px;
font-size: 36px;
line-height: 110%;
/* or 40px */
white-space: nowrap;
display: flex;
align-items: center;
text-align: center;
    }
    .represent{
        width: auto;
height: auto;
left: 0%;
top: 150px;
font-size: 18px;
line-height: 140%;
/* or 25px */
display: flex;
align-items: center;
text-align: center;
    }
    .btn{
        left: auto;
top: 230px;
width: 185px;
height: 52px;


border-radius: 10px;
    }
    
}

@media screen and (max-width:359px){
    .person{
        display: flex;
        //background-image: url(../../public/Group36540mob.svg);
        height: 324.0003662109375px;
width: 296px;

justify-content: center;
align-items: center;
top: 56.5%;
left: auto;

height: auto;


    }
}
@media screen and (min-width: 360px) and (max-width:500px) {
    .person{
    width: 296px;
    left: auto;
    height: 324px;
    top: 56.5%;
    }
}

