.topcontainer{
    width: 1440px;
    height:700px;
    position:absolute;
    background-color: #301446;
    left: 0px;
    top: 0px;
}
.join{
    height: 124px;
width: 584px;
left: 137px;
top: 201px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 56px;
font-weight: 700;
line-height: 62px;
letter-spacing: -0.06em;
text-align: left;
color: #ffffff;
display: flex;
align-items: center;
position: absolute;
}

.represent{
    height: 67px;
width: 522px;
left: 138px;
top: 343px;
opacity: 80%;
font-family: Mulish;
font-size: 20px;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.01em;
text-align: left;
color: #ffffff;
position: absolute;

}

.person{
    background-image: url(../../public/Group36540.svg);
    height: 603px;
width: 552px;
left: 747px;
top: 97px;
border-radius: 0px;
position: absolute;

}
.btn{
    position: absolute;
    height: 52px;
width: 185px;
left: 138px;
top: 449px;
border-radius: 10px;
padding: 16px, 32px, 16px, 32px;

}

@media screen and (max-width:376px){

    .topcontainer{
        height: 672px;
width: 360px;



    }
    .person{
        background-image: url(../../public/Group36540mob.svg);
        height: 324.0003662109375px;
width: 296.0596923828125px;
left: 32px;
top: 365px;

    }
    .join{
        width: 328px;
height: 80px;
left: 16px;
top: 132px;
font-size: 36px;
line-height: 110%;
/* or 40px */

display: flex;
align-items: center;
text-align: center;
    }
    .represent{
        width: 328px;
height: 48px;
left: 16px;
top: 224px;
font-size: 18px;
line-height: 140%;
/* or 25px */

text-align: center;
    }
    .btn{
        left: 88px;
top: 299px;
    }
}