.footer{
    height: 442px;
width: 1440px;

top: 5487px;
border-radius: 0px;
position: absolute;
}
.grp36579{
    height: 325px;
width: 1281.3280029296875px;
left: 79px;
top: 59px;
border-radius: 0px;
position: absolute;
}
.frame{
    height: 40px;
width: 1281.3280029296875px;
left: 0px;
top: 0px;
border-radius: 0px;
position: absolute;

background-image: url(../../public/footerframe.svg);
background-size: contain;
background-repeat: no-repeat;

}
.footertext{
    position: absolute;
width: 1024px;
height: 216px;
left: 120px;
top: 88px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* or 27px */

letter-spacing: -0.01em;

color: #301446;

opacity: 0.3;
}

@media screen and (max-width:426px){
    .footer{
        display: none;
    }
}