.frame4container{
    position: absolute;
width: 1440px;
height: 1223px;

background: #F2F2FB;
right: calc(50% - 720px);
}
.fcont{
    position: absolute;
width: 100%;
height: 1223px;

top: 2522px;

background: #F2F2FB;
}

.frame4title{
    height: 53px;
width: 389px;
left: 525px;
top: 112px;

font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 53px;
letter-spacing: -0.06em;
text-align: center;
position: absolute;
color: rgba(48, 20, 70, 1);

}

.stage1{
    
    height: 252px;
width: 996px;
left: 223px;
top: 229px;
border-radius: 8px;
position: absolute;

}

.stage2{
    
    height: 266px;
width: 996px;
left: 223px;
top: 537px;
border-radius: 8px;
position: absolute;
}
.stage3{
    height: 252px;
width: 996px;
left: 223px;
top: 859px;
border-radius: 8px;
position: absolute;
}

.dottedline1{
    position: absolute;
width: 579px;
height: 0px;
left: 870px;
top: 670px;

opacity: 0.5;
border: 2px dashed #301446;
transform: rotate(90deg);

}
.dottedline2{
    
position: absolute;
    
width: 579px;
height: 0px;
left: 1px;
top: 650px;
opacity: 0.5;
border: 2px dashed #301446;
transform: rotate(90deg);


}

@media screen and (max-width:426px){
    .frame4container{
        height: 1239px;
width: 96%;

left: 1%;
display: flex;
align-items: center;
justify-content: center;
//top: 4318px;
border-radius: 0px;
// background: url(../../public/Frame19775.svg);
// background-size: contain;
// background-repeat: no-repeat;

    }
    .fcont{
        top:4318px;
        height: 1289px;
    }
    
    .frame4title{
        height: 35px;
width: 259px;
left: 10%;
top: 44px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 32px;
font-weight: 600;
line-height: 35px;
letter-spacing: -0.06em;
text-align: center;
position: absolute;

    }
    .stage1,.stage2,.stage3{
        width: 100%;
        left: 15px;
        height: 323px;
    }
    .stage1{
        top: 12%;
    }
    .stage2{
        top: 43%;
    }
    .stage3{
        top: 74%;
    }
    .dottedline1{
        left: -239px;
        top: 750px;
    }
    .dottedline2{
        top: 750px;
        left: 10%;
    }
}

@media screen and (min-width: 320px) and (max-width:358px) {
    .dottedline2{
        
        left: -15%;
    }
}