

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0px;
    position: absolute;
    
    top: 17%;
    margin: 0;
    
}
.stitle{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 110%;
/* identical to box height, or 20px */

display: flex;
align-items: center;
letter-spacing: -0.01em;

color: #301446;
}
.subtitle {
    
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 47px;
    
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.01em;
    background: rgb(242, 242, 251);
    width: 100%;
}

.subjects {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;

    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    color: rgba(48, 20, 70, 0.7);
    
}


.titlebox {
    position: absolute;
    width: 100%;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0px 0px;
    top: 0%;
    margin: 0;
    background: rgba(104, 188, 152, 1);
    height: 72px;
    color: rgba(255, 255, 255, 1);

}

@media screen and (max-width:426px){
    .flex{
        width: 100%;
    }
    .subjects{
        line-height: 10%;
        margin-top: 27px;

    }
}