.navigation {
    height: 60px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
   // padding: 0.5rem 0rem;
    margin-top: 42px;
    padding: 0 119px;
    top:0px;
    
    
    
    
  }
  .navigationmenu{
    


width: 665px;
height: 50px;


  }
  .ulnav{
    padding-inline-start: 0px;
    width: 665px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  
    .navtext1{
      opacity: 0.5;
    white-space : nowrap;
    font-family: Mulish;
    font-size: 13px;
    font-weight: 700;
    //line-height: 13px;
    letter-spacing: 0em;
    
    color: #ffffff;

    }
    
    
    .frame19221{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0px;
      gap: 60px;
      
      position: absolute;
      width: 665px;
      height: 50px;
      right: 119px;
      top: calc(50% - 50px/2);
      
        
        }
    

  .brandname {
    background-image: url(../../public/ulessonLogo.svg);
    background-size: 100% 100%;
height: 29px;
margin-bottom :0;
width:  120px;
//position: absolute;
margin-left: 50px;

top: 10px;

    
  
  }
  
  .navigationmenu ul, .navigationmenuexpanded ul {
    display: flex;
    //padding: 0;
  }
  .navigationmenu li , .navigationmenuexpanded li{
    // removes default disc bullet for li tags and applies margin to left & right side
    list-style-type: none;
    
  }
  .navigationmenu li a , .navigationmenuexpanded li a {
    // increases the surface area of the anchor tag to span more than just the anchor text
    text-decoration: none;
    
    width: 100%;
  }

  .hamburger {
    // removes default border on button element
    border: 0;
    height: 15px;
    width: 25px;
    
    
    background-color:#301446;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  // positions the icon to the right and center aligns it vertically
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
    background-image: url(../../public/menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .hamburger:hover {
    background-color: #301446;
  }
  .overlapgroup3{
   
    border-radius: 10px;
    padding: 19px 50px 19px 50px;
    height: 50px;
    
   
   background-color: #EA7052;
    width: 180px;
    
    }
    .btntext{
      white-space: nowrap;
      width: 79px;
height: 13px;
color: #FFFFFF;


font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 100%;
    }

  @media screen and (max-width: 426px) {
    .navigationmenu{
      display: none;
    }
    .navigation{
      margin-top: 37px;
    }
    // .navigationmenuexpanded ul{
      
    // }
    .hamburger {
      display: block;
      top: 25.51% ;
    
    }
    .navigationmenu ul   {
        display: none;
        
        
      }
       .navigationmenuexpanded {
        // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)
       background-color: #301446;
        width: 100%;
    height: 101vh;
    
    position: absolute;
    top: 70px;
    left: 0px;
    z-index: 100;
    overflow-y: scroll;
    padding-bottom: 4rem;
        
        
      }
      .navigationmenuexpanded ul{
        display: flex;
        width: 100%;
        height: 50vh;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 7rem;
    padding-inline-start: 0px;
      }
       .navigationmenuexpanded li{
        // centers link text and strips off margin
        text-align: center;
        margin: 0;
      }
       
       
      
      
      
      
      .brandname{
        position: absolute;
margin-left: auto;
right: 57.33%;
top: 5.51%;
bottom: 91.52%;
      }
  }