@import url("https://fonts.googleapis.com/css?family=Montserrat:700,600,800|Mulish:400,700,600");

html,
body {
  width: 100%;
  height: 5900px;

  
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  border-width: 0;
    border-style: solid;
  box-sizing: border-box;
}
.stageno1 {
  width: 105px;

  color: rgba(234, 112, 82, 1);
}
.stageno2 {
  width: 112px;

  color: rgba(249, 173, 109, 1);
}
.stageno3 {
  width: 166px;
  color: rgba(104, 188, 152, 1);
}
.icon {
  height: 22px;
  width: 20px;
  left: 2px;
  
  border-radius: 0px;
  position: absolute;
}

.box1 {
  position: absolute;
  width: 588px;
  height: 284px;
  top: 112px;

  background: #f2f2fb;
  border-radius: 8px;
  left: 120px;
}
.box2 {
  position: absolute;
  width: 588px;
  height: 284px;
  top: 112px;

  background: #f2f2fb;
  border-radius: 8px;
  left: 733px;
}


.img1 {
  position: absolute;
  width: 216.3px;
  height: 236.76px;
  left: 337px;
  top: 24px;
}
.img2 {
  position: absolute;
  width: 224px;
  height: 244.97px;
  left: 320px;
  top: 12px;
}
 .faq-style-wrapper {
  padding: 15px 35px;
}

/*
.faq-row-wrapper, .faq-body{
  height: 333px;
  width: 931.7520751953125px;
  left: 30px;
  top: 20px;
  border-radius: 0px;
position: absolute;  
}

.icon-wrapper{
  height: 14px;
width: 15.817767143249512px;

border-radius: 0px;
} */

.row-content-text {
  /* height: 90px;
width: 860px;
left: 36px; */

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  letter-spacing: -0.01em;

  color: #301446;

  opacity: 0.7;
}
.row-title-text {
  /* left: 3.58%;
right: 34.6%; */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  letter-spacing: -0.06em;

  /* Neutral/800 */

  color: #170f49;
}

/* .styles_faq-row-wrapper__3vA1D
  .styles_row-body__1NvUo
  .styles_faq-row__2YF3c
  .styles_row-title__1YiiY
  .styles_row-title-text__1MuhU[aria-expanded="true"] {
  color: navy;
} */


.faq-style-wrapper .faq-title {
  font-size: x-large;

  padding: 0px 0px 15px;
}

.faq-style-wrapper .faq-body .faq-row {
  padding: 0.75em 0;
}

.faq-style-wrapper .faq-body .faq-row .row-title {
  font-size: larger;
}

.faq-style-wrapper .faq-body .faq-row .row-content-text {
  
  font-size: medium !important;
}

.row-option {
  margin-top: 2em;
}

.row-option label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

.row-option input {
  padding: 0.5em;
  width: 2em;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
}
.styles_faq-row-wrapper__3vA1D h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.faq-style-wrapper {
  padding: 15px 105px;
}

.username {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 996px;
  height: 63px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.form__inputt{
 
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 7px;
    /* border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem; */
    box-sizing: border-box;

  width: 316px;
  height: 40px;

  
  border: 1px solid #e0e7ff;
  border-radius: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  color: rgba(48, 20, 70, 0.7);
  
}
.form__input {
  box-sizing: border-box;

  width: 316px;
  height: 40px;

  background: #ffffff;
  border: 1px solid #e0e7ff;
  border-radius: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  color: rgba(48, 20, 70, 0.7);

  /* Inside auto layout */
}
.form__input1 {
  box-sizing: border-box;

  width: 993px;
  height: 40px;

  background: #ffffff;
  border: 1px solid #e0e7ff;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  color: rgba(48, 20, 70, 0.7);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;

  /* Inside auto layout */
}
.form__label1 {
  width: 996px;
  height: 15px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  color: #301446;

  opacity: 0.7;
}
.form_label {
  width: 316px;
  height: 15px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  color: #301446;

  opacity: 0.7;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.column2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 996px;
  height: 63px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.column3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 996px;
  height: 63px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.input {
  box-sizing: border-box;

  width: 996px;
  height: 40px;

  background: #ffffff;
  border: 1px solid #e0e7ff;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.label {
  width: 996px;
  height: 15px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  color: #301446;

  opacity: 0.7;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.gender,
.gender2,
.gender3,
.gender4,
.gender5,
.gender6,
.gender7,
.gender8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 231px;
  height: 63px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.form__input3 {
  box-sizing: border-box;

  width: 231px;
  height: 40px;

  background: #ffffff;
  border: 1px solid #e0e7ff;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  color: rgba(48, 20, 70, 0.7);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
}
.form__inputt3{
  box-sizing: border-box;
    width: 231px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 7px;
    border: 1px solid #e0e7ff;
  border-radius: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  color: rgba(48, 20, 70, 0.7);
    
}
.ico {
  position: absolute;
  left: 18%;

  top: 1%;
  bottom: 97.25%;
  width: 133.57px;
  height: 22px;
}
.cross {
  height: 32px;
  width: 32px;
  right: 2%;
  top: 1%;
  border-radius: 0px;
  position: absolute;
}
.frame19751 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 26px;

  width: 996px;
  height: 63px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.link1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: absolute;
  width: 996px;
  height: 320px;
  left: 25%;
  top: 45%;
}
.link2 {
  box-sizing: border-box;

  position: absolute;
  width: 900px;
  height: 56px;
  left: 25%;
  top: 45%;

  background: #f9faff;
  border: 1px solid #e0e7ff;
  border-radius: 4px;
}
.link2 > .otherlink1 {
  display: none;
}
.link2 > .otherlink2 {
  display: none;
}
.link2 > .otherlink3 {
  display: none;
}
.dlink1,
.dlink2,
.dlink3,
.dlink4 {
  width: 715px;
  height: 56px;
  left: 280px;
  position: absolute;
}
.dlink1 {
  top: 9px;
}
.countercontainer {
  box-sizing: border-box;

  width: 117px;
  height: 40px;
  top: 28px;

  background: #f9faff;
  border: 1px solid #e0e7ff;
  border-radius: 4px;
  position: absolute;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
#decrementcount {
  box-sizing: border-box;

  position: absolute;
  width: 38px;
  height: 40px;
  left: 0px;
  top: 0px;

  background-color: #ffffff;
  background-size: contain;
  border: 1px solid #e0e7ff;
 
}
#incrementcount {
  box-sizing: border-box;

  position: absolute;
  width: 38px;
  height: 40px;
  left: 78px;
  top: 0px;

  background: #ffffff;
  border: 1px solid #e0e7ff;
  
}
#count {
  position: absolute;
  width: 38px;
  height: 40px;
  left: 38px;
  top: 0px;
}

.countinput {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 45%;
  top: 10%;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;

  color: #000000;
}
.studentcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 996px;
  min-height: 398px;
  flex-grow: 2;
  top: 15%;
  position: relative;
  /* Inside auto layout */
  height: fit-content;
}
.studentinfocontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 996px;
  height: 194px;
  position: relative;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.plus{
  background-image: url(../public/plus.svg);

  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 15.82px !important;
  height: 14px;
  
  align-items: flex-end;
}
.minus{
  background-image: url(../public/minus.svg);

  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 15.82px !important;
  height: 14px;
  
  align-items: flex-end;
}
.black{
  color: #170F49;
}
.blue{
  color: rgba(123, 127, 218, 1);

}
@media screen and (max-width: 426px) {
  .gender,
.gender2,
.gender3,
.gender4,
.gender5,
.gender6,
.gender7,
.gender8 {
  width: 100%;
}
  .form__inputt3{
    width: 100%;
  }
  .form__inputt{
    width: 100%;
  }
  html,
  body {
    width: 100%;
  }
  .seniorbox1 {
    width:  100%;
    height: 356px;
    border: 2px solid rgba(48, 20, 70, 0.05);
    border-radius: 8px;

  
    
    position: absolute;
  }.seniorbox2 {
    width: 100%;
    height: 356px;
    border: 2px solid rgba(48, 20, 70, 0.05);
    border-radius: 8px;
    
    top: 380px;
    
    position: absolute;
}

.seniorbox3 {
  width: 100%;
  height: 356px;
  border: 2px solid rgba(48, 20, 70, 0.05);
  border-radius: 8px;
  
  top: 760px;
  
  position: absolute;
}
  .faq-style-wrapper {
    padding: 15px 25px;
  }

  .studentcontainer {
    height: 3317px;
    width: 100%;
    left: 0px;
    top: 7%;
    border-radius: 0px;
  }
  .studentinfocontainer {
    height: 785px;
    width: 100%;
    left: 0px;
    
    border-radius: 0px;
  }
  .form__input3 {
    width: 100%;
  }

  .dlink1,
  .dlink2,
  .dlink3,
  .dlink4 {
    height: 56px;
    width: 100%;
    left: 0px;
    display: flex;
flex-direction: column;
align-items: flex-start;

    border-radius: 0px;
    position: absolute;
  }
  .dlink1 {
    top: 32px;
  }
  .dlink2 {
    top: 157px;
  }
  .dlink3 {
    top: 278px;
  }
  .dlink4 {
    top: 399px;
  }

  .link2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 328px;
    height: 92px;
    left: 16px;
    top: 558px;
  }
  .link1 {
    width: 90%;
    height: 368px;
    left:auto;
    
    top: 50%;
  }
  .otherlink1,.otherlink2,.otherlink3{
    height: 92px;
    width: 100%;
    left: 16px;
  }
  
  .box1 {
    height: 202px;
    width: 94%;
    left: auto;
    top: 64px;
    border-radius: 8px;
    position: absolute;
  }
  .box2 {
    height: 202px;
    width: 94%;
    left: auto;
    top: 290px;
    border-radius: 8px;
    position: absolute;
  }
  .img1 {
    height: 146.67970275878906px;
    width: 134px;
    left: 55%;
    top: 15%;
  }
  .img2 {
    height: 143px;
    width: 130.76023864746094px;
    left: 57%;
    top: 15%;
  }
  .ico {
    height: 22.000242233276367px;
    width: 133.5715789794922px;
    left: 10%;
    top: 78px;
    border-radius: 0px;
  }
  .cross {
    height: 32px;
    width: 32px;
    
    top: 73px;
    border-radius: 0px;
  }
  .frame19751 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 222px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }
  .username {
    height: 63px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }
  .form__label1 {
    height: 15px;
    width: 86px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
  }
 .schcountry{
  width: 100%;
 }
  .form__input1,
  .input {
    height: 40px;
    width: 100%;
    left: 0px;
    top: 23px;
    border-radius: 4px;
  }
  .column2,
  .column3 {
    height: 222px;
    width: 100%;
    left: 0px;
    top: 176px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
  }
  .location{
    width: 100%;
  }
  .examlocation{
    width: 100%;
  }
  .form_label {
    height: 15px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
  }
  .form__input {
    height: 40px;
    width: 100%;
    left: 0px;
    top: 23px;
    border-radius: 4px;
  }
  .email, .phn{
    width: 100%;
  }
}
