.container{
    position: absolute;
width: 1440px;
height: 2475px;
left:calc(50% - 750px);
align-items: center;
justify-content: center;
right: calc(50% - 600px);
background: #FFFFFF;
}
.regcontainer{
    width: 100%;
    height: 2475px;
    position: absolute;
    align-items: center ;
    justify-content: center;

}
.detailscontainer{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

width: 996px;
height: 327px;

position: absolute;
left: 1px;
}
.detailstitle{
    width: 996px;
height: 26px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 110%;
/* or 26px */

display: flex;
align-items: center;
letter-spacing: -0.06em;

color: #301446;

}
.schoolform{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 996px;
height: 253px;
top:74px;
}
.username{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    width: 996px;
    height: 63px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}


.form{
    display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 72px;

position: absolute;
width: 997px;
height: 2203px;
left: 20%;
top: 148px;

}
.submit{

position: absolute;
height: 56px;
width: 128px;
left: 1158px;
top: 1302px;

border-radius: 10px;
padding: 18px 32px;
gap: 10px;
background: #EA7052;
border-radius: 10px;
border-radius: 10px;
justify-content: center;

}

.studetails{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;
top: 393px;
width: 996px;
height: 327px;
position: absolute;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.stutitle{
    

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 110%;
/* or 26px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.06em;

color: #301446;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame19754{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 996px;
height: 253px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.scdetails{
    top: 792px;
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

width: 996px;
height: 438px;

position: absolute;
/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.submit a{
    justify-content: center;
    width: 64px;
height: 20px;
text-decoration: none;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 110%;
/* identical to box height, or 20px */

display: flex;
align-items: center;
letter-spacing: 0.4px;

color: #FFFFFF;

}


@media screen and (max-width:426px){
    
    .container{
        width: 100%;
        height: 2500px;
        left: 0px;
        right: 0px;
    }
    .detailstitle{
        height: 26px;
width: 157px;
left: 0px;
top: 0px;


    }

.detailscontainer{
    height: 578px;
width:100%;
left: auto;


border-radius: 0px;

}
.schoolform{
    height: 504px;
width: 100%;
left: 0px;
top: 74px;
border-radius: 0px;
padding-right: 20px;

}
.form{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 72px;

position: absolute;
width: 100%;
height: 1830px;
left: 0px;
top: 186px;

}
.studetails{
    height: 904px;
width: 100%;
left: 0px;
top: 618px;
border-radius: 0px;
padding: 10px;

}
.stutitle{
    padding-left:10px;
}
.frame19754{
    padding: 10px;
    height: 504px;
width: 100%;

top: 74px;
border-radius: 0px;
position: absolute;
}
.scdetails{
    height: 578px;
width: 100%;
left: 0px;
border-radius: 0px;
top: 1500px;
padding: 20px;

}
.submit{
    width: 128px;
height: 56px;
left: 15px;
top: 2294px;
border-radius: 10px;
padding: 18px 32px;
gap: 10px;
background: #EA7052;
border-radius: 10px;
border-radius: 10px;
justify-content: center;



}


}