
.student1{
    width: 996px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 110%;
/* identical to box height, or 20px */

display: flex;
align-items: center;
letter-spacing: -0.06em;

color: #301446;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.sicol{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 996px;
height: 63px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.form__inputbd{
    box-sizing: border-box;
  
    width: 316px;
    height: 40px;
  
    background:  #F9FAFF;;
    border: 1px solid #e0e7ff;
    border-radius: 4px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    color: rgba(48, 20, 70, 0.7);
    padding-left: 10px;
    background-image: url(../../public/bd.svg);
      background-repeat: no-repeat;
      background-position-x: 5px;
      background-position-y: 12px;
      padding-left: 40px;
  }
@media screen and (max-width:426px){
.studentinfocontainer{
    height: 3317px;
width: 341px;
left: 0px;
top: 1155px;
border-radius: 0px;

}
.form__inputbd {
    height: 40px;
    width: 100%;
    left: 0px;
    top: 23px;
    border-radius: 4px;
  }
.student1{
    height: 20px;
width: 100%;
left: 0px;
top: 0px;
border-radius: nullpx;

}
.sicol{
    display: flex;
flex-direction: column;
align-items: flex-start;
height: 348px;
width: 100%;
left: 0px;
top: 44px;
border-radius: 0px;

}
}